<%= render "items_header" %>

<div class="wrapper">
  <div class="top-contents">
    <p class="introduction-text"><span>EnrIch</span><br>生活を少しだけ豊かにしてくれるアイテムと出会えるアプリケーション</p>
  </div>
  <div class="container">
    <div class="row">
      <% @items.each do |item| %>
        <div class="col-md-3 col-sm-6">
          <div class="card shadow-lg">
            <%= link_to item_path(item.id) do %>
              <div class="bd-placeholder-img card-img-top" width="100%" height="180">
                <%= image_tag item.image, class: "item-img" %>
              </div>
            <% end %>
            
            <div class="card-body">
                <h4 class="article-title"><%= item.name %></h4>
                <p class="article-text card-text text-truncate">
                  <%= item.introduction %>
                </p>
                <div class="article-user">
                  <% if item.user.avatar.present? %>
                    <%= image_tag item.user.avatar, class: "article-user-icon" %>
                  <% end %>
                <span class="article-username"><%= item.user.nickname %></span>
                </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<div>
