<%= render "items_header" %>

<div class="wrapper">
  <div class="top-head">
    <div style="position: relative; display:inline-block;">
      <%= image_tag 'house.png', class:"py-3" %>
      <div style="position: absolute; top: 30%; left: 10px;">
        <h1>EnrIch</h1>
        <p>「買ってよかった」モノをシェアできるアプリケーション</p>
        <p>あなたの生活を少し豊かにしてくれるアイテムと出会えるかもしれません</p></span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <% @items.each do |item| %>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="card bg-light shadow-lg mb-3">
            <%= link_to item_path(item.id) do %>
              <div class="post-image bd-placeholder-img card-img-top" width="100%" height="180">
                <%= image_tag item.image, class: "item-img" %>
                <div class="evaluation">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-smile"><circle cx="12" cy="12" r="10"></circle><path d="M8 14s1.5 2 4 2 4-2 4-2"></path><line x1="9" y1="9" x2="9.01" y2="9"></line><line x1="15" y1="9" x2="15.01" y2="9"></line></svg>
                  <%= item.wants.count%>
                </div>
              </div>
            <% end %>
            
            <div class="card-body">
              <h4 class="article-title"><%= item.name %></h4>
              <p class="article-text card-text text-truncate">
                <%= item.introduction %>
              </p>
              <div class="article-user">
                <%= link_to user_path(item.user_id), class: "user-show-link" do %>
                  <% if item.user.avatar.present? %>
                    <%= image_tag item.user.avatar, class: "article-user-icon" %>
                  <% end %>
                  <span class="article-username"><%= item.user.nickname %></span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<div>
