<%= render "items_header" %>

<div class="wrapper">
  <div class="wrapper-showcontents rounded-3">
    <div class="show-user">
      <%= link_to user_path(@item.user_id), class: "user-show-link" do %>
        <% if @item.user.avatar.present? %>
          <%= image_tag @item.user.avatar, size: '50x50' %>
        <% else %>          
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="43" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
          </svg>
        <% end %>
        <%= @item.user.nickname %>
      <% end %>
    </div>
    <% if user_signed_in? && current_user.id == @item.user.id %>
      <div class="text-end mt-2">
        <div class="btn-group" role="group" aria-label="Basic example">
            <%= link_to '編集', edit_item_path(@item.id), class: "btn btn-sm btn-outline-secondary" %>
            <%= link_to '削除', item_path(@item.id), method: :delete, data: { confirm: '投稿を削除しますか？'}, class: "btn btn-sm btn-outline-secondary" %>
        </div>
      </div>
    <% end %>
    <div class="text-center mt-4">
      <%= @item.name %>
    </div>
    <div class="text-center mt-3">
      <%= image_tag @item.image, size: '220x220', class: "img-thumbnail" %>
    </div>
    <div class="show-text text-center">
      <%= @item.introduction %>
    </div>
  </div>
  
</div>

<%= render "devise/shared/user_footer" %>